.buttom {
    text-decoration: none;
    color: white;
    display: inline-block;
    background-color: #F25A6F;
    padding: 18px;
    margin: 0px;
    box-shadow: 5px 5px 0px black;
}

.buttom:hover {
    background-color: #85FFC7;
    text-decoration: underline;
}

.btn > a{
    text-align: center;
    display: inline-block;
    margin-right: 50px;
    position: relative;
    top: 25vh;
    left: 135px;
    width: 280px;
}

.btn > a:hover{
    background-color: #7D5E98;
    text-decoration: underline;
}

@media screen and (max-width: 550px) {
    .buttom {
        display: none;
    }

    .btn {
        position: relative;
        top: 60vh;
        right: 20%;
    }

    .btn > a {
        width: 150px;
    }
}