.main-title {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 40px;
    color: #F25A6F;
    text-shadow: 4px 4px 0px black;
}

.main-title.-second {
    text-align: center;
    color: white;
    padding: 50px 0px 100px 0px;
}

.main-title.-projects {
    color: white;
    text-align: center;
    padding: 50px 0px;
    font-weight: 400;
}