.skills {
    background-color: #F25A70;
    height: 800px;
    width: 100%;
    border-bottom: 10px solid #7D5E98;
}

.skills .subtitle {
    text-align: center;
    padding: 30px 0px;
}

.skill {
    
}

.skill-bar-1, .skill-bar-2 {
    border: 5px solid black;
    width: 320px;
    height: 40px;
    margin: 40px 0px 0px 0px;
    position: relative;
}

.skill-bar-1 {
    top: 33%;
    left: 10%;
}

.skill-bar-2 {
    left: 60%;
    bottom: 70%;
}